<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        {{ template "_internal/opengraph.html" . }}
    </head>
    <body class="landing is-preload">
        <div id="page-wrapper">
            {{- partial "header.html" . -}}

            <!-- Banner -->
            <section id="banner">
            {{ if .Site.Data.homepage.banner.enable }}
            {{ with .Site.Data.homepage.banner }}
                <h2>{{ .title }}</h2>
                <p>{{ with .content }}{{ . }}{{else}}{{ $.Site.Params.description }}{{end}}</p>
                <ul class="actions special">
                {{ range .buttons }}
                    <li><a href="{{ .link }}" class="button {{ .class }}">{{ .title }}</a></li>
                {{ end }}
                </ul>
            {{ end }}
            {{ end }}
            </section>

            <!-- Main -->
            <section id="main" class="container">
                <!-- Highlight -->
                {{ if .Site.Data.homepage.highlight.enable }}
                {{ with .Site.Data.homepage.highlight }}
                    <section class="box special">
                        <header class="major">
                            {{/* Include 'safeHTML' function to render the HTML in strings */}}
                            <h2>{{ .header | safeHTML }}</h2>
                            <p>{{ .content | safeHTML }}</p>
                        </header>
                        {{ with .image }}
                        <span class="image featured"><img src="{{ . }}" alt="" /></span>
                        {{ end }}
                    </section>
                {{ end }}
                {{ end }}

                <!-- Features -->
                {{ if .Site.Data.homepage.features.enable }}
                {{ with .Site.Data.homepage.features }}
                    <section class="box special features">
                        {{ range .rows }}
                        <div class="features-row">
                            {{ range .items }}
                            <section>
                                <span class="icon solid major {{ .icon }} {{ .accent }}"></span>
                                <h3>{{ .title }}</h3>
                                <p>{{ .content }}</p>
                            </section>
                            {{ end }}
                        </div>
                        {{ end }}
                    </section>
                {{ end }}
                {{ end }}

                <!-- Posts -->
                {{ if .Site.Data.homepage.blog.enable }}
                {{ with $blogSettings := .Site.Data.homepage.blog }}
                  {{ with .header }}
                  <header class="major">
                      <h2>{{ . }}</h2>
                  </header>
                  {{ end }}
                  <div class="row">
                      {{ range first .postCount (where site.RegularPages "Type" "in" site.Params.mainSections) }}
                          <div class="col-6 col-12-narrower">
                              <section class="box special">
                                  {{ with partial "bannerURL" . }}
                                  <span class="image featured"><img src="{{ . }}" alt="" /></span>
                                  {{ end }}
                                  <h3>{{ .Title }}</h3>
                                  {{ with .Date }}<p>{{ .Format "Jan 2, 2006" }}</p>{{ end }}
                                  {{ with .Description }}
                                  <p>{{ . }}</p>
                                  {{ else }}
                                  <p>{{ .Summary }}</p>
                                  {{ end }}
                                  <ul class="actions special">
                                      <li><a href="{{ .Permalink }}" class="button alt">{{ $blogSettings.buttonText }} </a></li>
                                  </ul>
                              </section>
                          </div>
                      {{ end }}
                  </div>
                {{ end }}
                {{ end }}
            </section>

            <!-- CTA -->
            {{ if .Site.Data.homepage.cta.enable }}
            {{ with .Site.Data.homepage.cta}}
                <section id="cta">
                    <h2>{{ .header }}</h2>
                    <p>{{ .content }}</p>
                    <form>
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-8 col-12-mobilep">
                                <input type="email" name="email" id="email" placeholder="Email Address" />
                            </div>
                            <div class="col-4 col-12-mobilep">
                                <input type="submit" value="Sign Up" class="fit" />
                            </div>
                        </div>
                    </form>
                </section>
            {{ end }}
            {{ end }}

            {{- partial "footer.html" . -}}
        </div>
        {{- partial "scripts.html" . -}}
    </body>
</html>
