<!-- Header -->
<header id="header" {{- if .IsHome -}}class="alt"{{- end -}}>
    <img src="/images/logo.png" height=100% padding=5%>
    <nav id="nav">
        <ul>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                {{- range .Site.Menus.main -}}
                    {{- if .HasChildren -}}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                        <ul>
                            {{- range .Children -}}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{- end -}}
                        </ul>
                    </li>
                    {{- else -}}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{- end -}}
                {{- end -}}
            {{ $button := .Site.Data.globalheader.button }}
            {{ if $button.enable }}
            <li><a href="{{ $button.link }}" class="button">{{ $button.title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>
